# Getting the Dataset

## Where can I get datasets for practice?

-->There is no end to how you can use these data sources. The application and usage is only limited by your          creativity and application
-->Number of websites are available where people can publish dataset and download dataset

### Datasets sources for predictive modeling & machine learning:

->UCI Machine Learning Repository
->Kaggle
->Analytics Vidhya
->Quandl
->Past KDD Cups
->Driven Data

### Image classification datasets

->The MNIST Database 
->Chars74K
->Frontal Face Images
->ImageNet

### Text Classification datasets

->Spam â€“ Non Spam
->Twitter Sentiment Analysis 
->Movie Review Data

### Getting Dataset directly from the website

Enter the URL of the web page from which you want to import the data

In [1]:
import pandas as pd
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data')

In [2]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc